<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Sample Springboot Selenium | Login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap.min.css}" />
</head>

<body>
    <div class="container">
		<div class="row">
		 <div class="offset-3 col-md-6 py-5">
                 <h1>Login Form</h1>
                 <form class="py-5" th:action="@{/webapp}" th:object="${logindto}" method="POST">
                     <div class="form-group">
                         <input id="login" type="email" class="form-control" th:field="*{login}" placeholder="Your Email *" value="" />
                     </div>
                     <div class="form-group">
                         <input id="pass" type="password" class="form-control" th:field="*{pass}" placeholder="Your Password *" value="" />
                     </div>
                     <div class="form-group">
                         <input type="submit" class="btnSubmit" value="Login" id="btnLogin" />
                     </div>
                     <div class="form-group">
                         <a href="#" class="ForgetPwd">Forget Password?</a>
                     </div>
                 </form>
             </div>
		</div>
    </div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
	<script th:src="@{/js/vendor/bootstrap.min.js}" ></script>
</body>

</html>